<!-- HEADER -->
<app-header [selectedPage]="''"></app-header>

<!-- CONTENT STARTS -->
<div class="section container border p-3">
  <div class="container-fluid border">
    <div class="head">
      <img src="../../../assets/images/others/home-banner.jpg" alt="">
      <div class="title-box">
        <h5 class="text-center">Result</h5>
      </div>
    </div>
    <div *ngIf="student" class="content">
      <div class="container mt-3">
          <img class="border p-2" src="{{student.profilePic}}" alt="">
      </div>    

      <div *ngIf="student" class="row no-gutters align-items-center mt-4 border">
        <div class="col-md-6  p-3 bg-light">
          <div class="coll col-md-12">
            <p class="text-left">
              <span>Enrollment No.</span>
              <span class="value">{{student.enrollmentNo}}</span>
            </p>
          </div>
          <div class="coll col-md-12">
            <p class="text-left">
              <span>Student Name</span>
              <span class="value">{{student.name}}</span>
            </p>
          </div>
          <div class="coll col-md-12">
            <p class="text-left">
              <span>Father Name</span>
              <span class="value">{{student.fatherName}}</span>
            </p>
          </div>
          <div class="coll col-md-12">
            <p class="text-left">
              <span>Date of Birth</span>
              <span class="value">{{student.dob}}</span>
            </p>
          </div>
          <div class="coll col-md-12">
            <p class="text-left">
              <span>Session</span>
              <span class="value">{{student.sessionStart}} - {{student.sessionEnd}}</span>
            </p>
          </div>
          <div class="coll col-md-12">
            <p class="text-left">
              <span>Course Name</span>
              <span class="value">{{student.courseName}}</span>
            </p>
          </div>
        </div>
        <div *ngIf="totalMarks || obtainedMarks || percentage" class="col-md-6 bg-white p-3">
            <div class="coll col-md-12">
              <p class="text-right">
                <span>Total Marks</span>
                <span class="value">{{totalMarks}}</span>
              </p>
            </div>
            <div class="coll col-md-12">
              <p class="text-right">
                <span>Obtained Marks</span>
                <span class="value">{{obtainedMarks}}</span>
              </p>
            </div>
            <div class="coll col-md-12">
              <p class="text-right">
                <span>Percentage</span>
                <span class="value">{{percentage}}</span>
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-gap"></div>
<!-- CONTENT ENDS -->

<!-- FOOTER -->
<app-footer></app-footer>
