<!-- APP HEADER -->
<app-header [selectedPage]="'about'"></app-header>

<!-- APP CONTENT STARTS -->
<div class="container-fluid">
  <div class="header">
    <h1>About Us</h1>
  </div>
</div>

<div class="section container">
  <div class="row">
    <div class="col-md-6">
      <div class="mission">
        <h1>Our Mission</h1>
        <p>
          SVPPI is committed to educating aspiring healthcare professionals who would serve the community
          by inculcating values such as professionalism, lifelong learning, competent and ethical medical
          practise.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="vision">
        <h1>Our Vision</h1>
        <p>
          SVPPI intends to be a centre of excellence in field of healthcare education that bring a revolution in
          the field of healthcare &amp; para-medical services through professionals who are competent as well
          compassionate to deliver holistic care to all.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- ABOUT + NOTICEBOARD -->
<div class="section container">
  <div class="about row">
    <div class="col-md-7">
      <h2>About Us</h2>
      <p>
        Inspired from the learning and ideology of Shri Sardar Vallabhbhai Patel,
        Sardar Vallabhbhai Patel Paramedical Institute (SVPPI) was founded with the egalitarian goal of
        ensuring equitable access to quality education to all.It has become a trusted name in the field of
        paramedical health sciences education.
      </p>
      <p>
        Sardar Vallabhbhai Patel Paramedical Institute (SVPPI) is registered in U.P Administration Govt. of
        India under the Act 1882. Our Institute is an ISO 9001:2015 certified for its quality training. SVPPI is
        working for promotion of the Paramedical Health Education and committed to create world class
        professional in the field of Paramedical Science.
      </p>
      <p>
        SVPPI is managed and run by group of highly motivated &amp; revered healthcare leaders with zeal for
        transforming the field of paramedical &amp; allied healthcare landscape. We are affiliated with renowned
        forerunners of healthcare world- hospital groups and chain of healthcare clinics to enable our
        students experience, learn, acclimatize and internalize the best in class clinical practices from the
        leaders.
      </p>
    </div>
    <div class="col-md-5">
      <img class="w-100 h-100" src="../../../assets/images/others/banner2.jpg" alt="">
    </div>
  </div>
</div>

<!-- DIRECTOR MESSAGE -->
<div class="section container">
  <div class="director-message row">
    <div class="col-md-5 mb-4">
      <div class="card p-3 h-100">
        <div class="card-body">
          <h1 class="title">GET IN TOUCH</h1>
          <div class="row mt-5">
            <div class="col-md-12 mb-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">NAME</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">EMAIL</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="formGroupExampleInput">PHONE NO.</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="formGroupExampleInput">MESSAGE</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="btn btn-outline-danger">SUBMIT</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 mb-4">
      <h1>Director Message</h1>
      <p>
        We endeavor to train and nurture our students with in-depth practical and theoretical knowledge
        under the mentor-ship of industry expedience and venerated professors and educators. SVPPI is
        committed not only to equip our students with the best knowledge but to also groom them as a
        human and healthcare professional to developed much required qualities of compassion, empathy,
        commitment to profession and paramount of healthcare- care and happiness of the patients.
        Incorporating state-of-the-art educational facilities that meet international standards, SVPPI is a
        fusion of the latest technology with core human values. The course involves both theory classes and
        practical sessions. SVPPI takes pride in its industry oriented course curriculum developed and curated
        by eminent academicians and professionals to meet the current and future demand in the ever
        evolving healthcare space. We believe that conducive learning and encouraging environment is the
        key to foster excellence in students. We ensure that each student receive personalize attention,
        through our optimal teacher to student ratios, state of the art labs, medical equipment and digital
        class rooms.
      </p>
    </div>
  </div>
</div>

<div class="footer-gap"></div>
<!-- APP CONTENT ENDS -->


<!-- APP FOOTER -->
<app-footer></app-footer>
