<!-- HEADER -->
<app-header [selectedPage]="'legal notice'"></app-header>

<!-- CONTENT -->
<div class="container-fluid">
    <div class="header">
        <h1>Legal Notice</h1>
    </div>
</div>

<div class="section container">
    <!-- <h1 class="title">Neque porro quisquam est dolorem</h1> -->
    <!-- <h2 class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at elit faucibus, varius nisl ac, pulvinar arcu.</h2> -->
    <div class="legal-notice row">
        <div class="col-md-6 mb-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        MCI LETTER <a target="_blank" href="pdf/court-desision-uttara-khand-1.pdf">DOWNLOAD HERE</a>
                    </h5>
                    <hr>
                    <img src="../../../assets/images/others/MCI.jpeg" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        SUPREME COURT ORDER <a target="_blank" href="pdf/suprim-court-order.pdf">DOWNLOAD HERE</a>
                    </h5>
                    <hr>
                    <img src="../../../assets/images/others/SS.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-gap"></div>
<!-- FOOTER -->
<app-footer></app-footer>
